.container {
    border: 1px solid #aaa;
    position: relative;
    width: 100%;
}

.container div {
    border: 1px solid #aaa;
    cursor: move;
    height: 100px;
    position: absolute;
    width: 100px;
}

.container div.ss-placeholder-child {
    border: 1px dashed black;
}