<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Issue #XXX</title>

  <!-- jQuery Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  <!-- Shapeshift Stuff -->
  <script type="text/JavaScript" src="http://mcpants.github.io/jquery.shapeshift/core/vendor/jquery.touch-punch.min.js"></script>
  <script type="text/JavaScript" src="http://mcpants.github.io/jquery.shapeshift/core/jquery.shapeshift.js"></script>

  <!-- Issue Code -->
  <script type="text/JavaScript" src="global.js"></script>
  <link rel="stylesheet" href="global.css">
</head>
<body>

  <div class="container">
    <div>Child Element 1</div>
    <div>Child Element 2</div>
    <div>Child Element 3</div>
  </div>
  
</body>
</html>