<div class="ss-container trash">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="ss-container trash_bin">
  Drag the zombies here to destroy them!
</div>

<div class="clearfix"></div>