<div class="accordion-group details">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#details">
      <div class="container">
        Details
      </div>
    </a>
  </div>
  <div id="details" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner">
      <div class="container">
        <h3>What is Shapeshift?</h3>
        <p>Inspired heavily by the jQuery Masonry plugin, Shapeshift is a plugin which will dynamically arrange a collection of elements into a column grid system similar to Pinterest. What sets it apart is the ability to drag and drop items within the grid while still maintaining a logical index position for each item. This allows for the grid to be rendered exactly the same every time Shapeshift is used, as long as the child elements are in the correct order.</p>
        <h4>Function > Form</h4>
        <p>Shapeshift was designed to always render the same grid as long as the elements are in the same order. While this may leave holes, it is intentional as to favor higher index positioned elements over lower.</p>
        <h4>Features</h4>
        <ul class="unstyled">
          <li>
            <strong>Column Grid System:</strong>
            All items flow from left to right, top to bottom.
          </li>
          <li>
            <strong>Drag &amp; Drop:</strong>
            Click and drag elements to move them, even to different containers.
          </li>
          <li>
            <strong>Responsive:</strong>
            Resize the browser window so see the grid change with the new dimensions.
          </li>
          <li>
            <strong>Works on Touch:</strong>
            Enable drag and drop on touch devices by using the included <a href="http://touchpunch.furf.com/">jQuery UI Touch Punch</a>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>