<div>
  <div class="ss-container simple">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div data-ss-colspan="2"></div>
    <div data-ss-colspan="2"></div>
    <div data-ss-colspan="2"></div>
    <div data-ss-colspan="3"></div>
    <div data-ss-colspan="3"></div>
    <div data-ss-colspan="3"></div>
    <div data-ss-colspan="3"></div>
  </div>
  <div class="ss-container simple">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="clearfix"></div>
</div>