#nav {
  text-align: center;
}

#container {
  margin: 50px auto 0 auto;
  position: relative;
  width: 100%;
}

#container div {
  background: #00AA00;
  position: absolute;
  width: 300px;
}

#container div.over {
  outline: 2px dashed #333;
}