ul.ss-container {
  position: relative;
  width: 100%;
}

ul.ss-container li {
  background: rgba(0,0,0,0.15);
  border: 1px solid #666;
  position: absolute;
  width: 70px;
}

ul.ss-container li[data-ss-colspan="2"] { width: 141px; }
ul.ss-container li[data-ss-colspan="3"] { width: 212px; }
ul.ss-container li[data-ss-colspan="4"] { width: 283px; }

ul.ss-container li.ss-dragged-child {
  cursor: move;
  z-index: 9999;
  opacity: .7;
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}

ul.ss-container li.ss-placeholder-child {
  background: transparent;
  border: 0px;
  border: 1px solid #F55;
}

ul.ss-container li .position {
  background: #DEDEDE;
  border-radius: 4px;
  display: none;
  font-size: 30px;
  height: 100%;
  text-align: center;
  width: 100%;
}

ul.ss-container li .position div {
  padding-top: 30%;
}
