<div class="accordion-group code_example">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#code_example">
      <div class="container">
        View JSFiddle
      </div>
    </a>
  </div>
  <div id="code_example" class="accordion-body collapse">
    <div class="accordion-inner">
      <div class="container">
        {{jsfiddle 'LNysC'}}
      </div>
    </div>
  </div>
</div>