<div class="accordion-group code_example">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#code_example">
      <div class="container">
        View Gist
      </div>
    </a>
  </div>
  <div id="code_example" class="accordion-body collapse">
    <div class="accordion-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div>
              <h6>HTML</h6>
              {{gist '5588913'}}
            </div>
            <div>
              <h6>JavaScript</h6>
              {{gist '5588919'}}
            </div>
          </div>
          <div class="span6">
            <h6>CSS</h6>
            {{gist '5588930'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>