<div class="ss-container mosaic">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div data-ss-colspan="2"></div>
  <div data-ss-colspan="2"></div>
  <div data-ss-colspan="2"></div>
  <div data-ss-colspan="2"></div>
  <div data-ss-colspan="3"></div>
  <div data-ss-colspan="3"></div>
</div>