body {
  background: #EFEFEF;
  font-family: Helvetica, Arial;
}

a { text-decoration: none; }

h1 { text-align: center; }

.forkme { position: absolute; top: 0; left: 0; border: 0; }

.credits {
  height: 160px;
  font-size: 13px;
  padding: 20px 0 15px 0;
  position: absolute; top: 10px; right: 10px; border: 0;
  text-align: center;
}

.credits img { padding: 4px; }

#nav { text-align: center; }

#container {
  margin: 50px auto 0 auto;
  position: relative;
  width: 100%;
}

#container > * {
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px #ccc;
  position: absolute;
  width: 300px;
}

#container > *.ss-moving {
  z-index: 9999;
  opacity: .7;
  transform:rotate(3deg);
  -ms-transform:rotate(3deg); /* IE 9 */
  -moz-transform:rotate(3deg); /* Firefox */
  -webkit-transform:rotate(3deg); /* Safari and Chrome */
  -o-transform:rotate(3deg); /* Opera */
}

#container > * > img { border-radius: 2px 2px 0 0; }