<footer class="footer">
  <div class="container">
    <p>{{unbound demo_name}} uses the <a href="{{unbound license_url}}">{{unbound license_type}} license</a></p>
    <p>{{unbound demo_name}} uses <a href="https://github.com/McPants/jquery.pikit">jQuery.Pikit</a> to generate its placeholder content.</p>
  </div>
</footer>